*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: rgb(26, 2, 2); */
    /* background: rgb(31,54,223); */
/* background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%); */
}
body{
    /* background: rgb(31,54,223);
background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%); */
background: rgb(31,54,223);
background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(30,55,238,0.9640231092436975) 0%, rgba(15,54,190,0.958420868347339) 0%, rgba(44,78,166,1) 0%, rgba(4,19,103,1) 0%, rgba(42,114,184,1) 50%, rgba(4,64,102,1) 96%);
}
.main{
    /* background: rgb(31,54,223);
background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%); */

}

.btn-btn{
    margin: auto 20px auto 0px;
}
 .btn-btn-1{
    padding: 7px 10px 7px 10px;
    font-size: large;
    background: rgb(31,54,223);
    background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%);
    
    border: none;
    color: whitesmoke;
}
.btn-btn-2{
    padding: 7px 10px 7px 10px;
    font-size: large;
    background: rgb(31,54,223);
    background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%);
    
    border: none;
    color: whitesmoke;
}
.btn-btn-1:hover, .btn-btn-2:hover{
    color: green;
}
.txt{
    margin: 84px 0px 0px 0px;
}
.head{  
    /* holding all content of header */
    /* background: rgb(31,54,223); */
    background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%);
    display: flex;
}
.nav-bar{
    display: flex;
    align-items: center;
    

}
.nav-bar>ul>:hover{
    color: rgb(124, 202, 131);
    
}
.home, .services, .contact, .about {
font-size: 16px;
padding: 5px 10px 5px 10px;
/* font-style: italic; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 10px;
text-decoration: none;
color: white;
background: rgb(31,54,223);
background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%);


}

.logo-main{
    border-radius: 50%;
    background-color: #f0f0f5;
    width: 200px;
    height: 200px;
    margin-left: 10px ;
    margin-top: 10px;
   text-align: center;
   
}
.logo-head{
    
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
#astro-a,#tech-t{
    color: red;
}
.logo-head>p{
    color: #f0f0f5;
}

.heading-1{
    /* background: rgb(31,54,223); */
    /* background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b126ddb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.list-container{
    margin: auto 0px 30px 0px;
}

/* about page css starts */

.about-div{
    /* background: rgb(31,54,223); */
    /* background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(30,55,238,0.9640231092436975) 0%, rgba(15,54,190,0.958420868347339) 0%, rgba(44,78,166,1) 0%, rgba(4,19,103,1) 1%, rgba(42,57,184,1) 50%, rgba(4,15,102,1) 96%); */
    width: 388px;
    height: 555px;
    margin: auto;
    /* border-radius: 0px 6px 6px 0px; */
    margin: auto;
    /* border-right: 1px solid white; */
    /* display: grid; */
}
.about-div>p{
    margin-left: 90px;
    padding-top: 20px;
    font-size: x-large;
    color: #f0f0f5;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}

#form{
    display: grid;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}
#form>label{
    width: 300px;
    font-size: medium;
    font-family: Tahoma, sans-serif;
    color: #f0f0f5;
    margin: 10px auto;
    font-weight: 700;
}
#form>input,select{
    padding: 5px 3px;
    background-color: aliceblue;
    border: none;
}

#btn-submit{
    border: none;
    color: #f0f0f5;
    margin-top: 15px;
    padding: 5px 0px 5px 0px;
    font-size: larger;
    background: rgb(31,54,223);
    background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%);
    }
#btn-submit:hover{
background-color: rgb(31,54,223);
background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(30,55,238,0.9640231092436975) 0%, rgba(15,54,190,0.958420868347339) 0%, rgba(44,78,166,1) 0%, rgba(25,82,7,1) 0%, rgba(96,148,96,0.5690651260504201) 50%, rgba(4,102,4,1) 96%);;
}



/* about page ends here */

.search-icon{
    display: flex;
    /* color: aqua; */
    background-color: rgb(13, 11, 26);
    height: 32px;
    margin: 0px 0px 10px 0px;
}

#map-input{
    border: none;
    border-radius: 13px;
    margin: 3px 0px 3px 10px;
    width: 70%;
    padding: 10px 0px 10px 10px;
}
.fa-search {
    padding: 5px;
    margin: 12px 5px 0px  18px;;
    color: #f0f0f5;

}
.fa-circle{
    margin: 8px 0px 0px 18px;
    color: aliceblue;
}
.fa-search:hover{
    color: green;
}
.icon-pencil{
    display: flex;
    margin-top: 8px;
    margin-left: -24px;
}
.fa-map-location-dot{
    color: #a1fab7;
    margin-top: 5px;
    margin-left: 5px ;
}
/* footer start */
.owner-info{
    /* background: rgb(31,54,223); */
    background: linear-gradient(90deg, rgba(31,54,223,1) 0%, rgba(25,43,193,1) 0%, rgba(149,160,250,1) 0%, rgba(3,9,55,1) 0%, rgba(21,55,186,1) 0%, rgba(2,5,31,0.9556197478991597) 0%, rgba(30,55,238,0.9640231092436975) 40%, rgba(33,58,194,0.9304096638655462) 55%, rgba(15,54,190,0.958420868347339) 70%, rgba(28,56,133,1) 88%, rgba(4,18,50,0.9808298319327731) 100%, rgba(44,78,166,1) 100%, rgba(9,52,146,1) 100%, rgba(9,9,121,1) 100%, rgba(11,194,231,1) 100%, rgba(11,170,217,1) 100%);
    margin-top: 79px;
    padding-bottom: 34px;
}

.owner-info>.design-by {
    margin: 0px 0px 17px 230px ;
      font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: italic;
      color: rgb(44, 3, 3);
    }
    .owner-info> .dev{
        margin: -10px 0px 17px 230px ;
          font-size: 19px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: rgb(242, 242, 247);
          font-style: italic;
        }
        
.copy{
    margin: 30px 0px 0px 345px;
    color: #f0f0f5;
}
#copy-sign{
    /* color: red; */
}

.font-awsome{
    margin: 8px 0px 0px 5px;
}
.font-awsome>i{
    margin: 5px;
}

#domain{
    text-decoration: none;
}